// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'rsu';
    src: url('../assets/RSU_Regular.ttf') format('truetype'),
         url('../assets/RSU_BOLD.ttf') format('truetype'),
         url('../assets/RSU_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body { 
    font-family: 'rsu' !important;
}

$directions: center,
flex-end,
flex-start,
space-between,
space-around;
@each $direction in $directions {
    .justify-#{$direction} {
        justify-content: $direction;
    }
    .align-#{$direction} {
        align-items: $direction;
    }
}

@for $i from 0 through 100 {
    .padding-#{$i} {
        padding: $i + 0px;
    }
    .padding-right-#{$i} {
        padding-right: $i + 0px;
    }
    .padding-left-#{$i} {
        padding-left: $i + 0px;
    }
    .padding-top-#{$i} {
        padding-top: $i + 0px;
    }
    .padding-bottom-#{$i} {
        padding-bottom: $i + 0px;
    }
    .margin-#{$i} {
        margin: $i + 0px;
    }
    .margin-right-#{$i} {
        margin-right: $i + 0px;
    }
    .margin-left-#{$i} {
        margin-left: $i + 0px;
    }
    .margin-top-#{$i} {
        margin-top: $i + 0px;
    }
    .margin-bottom-#{$i} {
        margin-bottom: $i + 0px;
    }
    .width-1x-#{$i}-px {
        width: $i + 0px;
    }
    .width-2x-#{$i}-px {
        width: $i * 2 + 0px;
    }
    .width-3x-#{$i}-px {
        width: $i * 3 + 0px;
    }
    .width-4x-#{$i}-px {
        width: $i * 4 + 0px;
    }
    .width-5x-#{$i}-px {
        width: $i * 5 + 0px;
    }
    .height-1x-#{$i}-px {
        height: $i + 0px;
    }
    .height-2x-#{$i}-px {
        height: $i * 2 + 0px;
    }
    .height-3x-#{$i}-px {
        height: $i * 3 + 0px;
    }
    .height-4x-#{$i}-px {
        height: $i * 4 + 0px;
    }
    .height-5x-#{$i}-px {
        height: $i * 5 + 0px;
    }
    .width-flex-#{$i} {
        flex-basis: $i + 0%;
        max-width: $i + 0%;
    }
    .border-#{$i} {
        border: $i + 0px solid #e6c12f
    }
    .border-top-#{$i} {
        border-top: $i + 0px solid #e6c12f
    }
    .border-left-#{$i} {
        border-left: $i + 0px solid #e6c12f
    }
    .border-right-#{$i} {
        border-right: $i + 0px solid #e6c12f
    }
    .border-bottom-#{$i} {
        border-bottom: $i + 0px solid #e6c12f
    }
}

.flex-wrap {
    flex-wrap: wrap;
}

.bg {
    background-color: #000;
}

[class^="toolbar-background"] {
    background-color: #000 !important;
    border: 0px !important;
}

[class^="toolbar-title"] {
    color: #fff !important;
}

[class^="bar-button"] {
    color: #fff !important;
}

.font-white-color {
    color: #fff;
}

.background-white-color {
    background-color: #fff;
}

.form-error {
    border: 1px solid red !important;
}

.tab-active {
    background: #000;
    color: #fff;
    & button {
        color: #fff;
    }
}

p {
    color: #fff !important;
    word-wrap: break-word;
}

.custom-border {
    border: 1px solid #e6c12f !important;
}

ion-item {
    background-color: transparent !important;
    border: 1px solid #e6c12f !important;
    & ion-label {
        color: #fff !important;
    }
    & ion-input {
        color: #fff !important;
    }
}

ion-slide {
    // background-color: #32db64;
}

ion-slide img {
    height: 200px !important;
    width: 100% !important;
}

button {
    // color: #fff !important;
    &.alert-button {
        color: #000 !important;
    }
}

.feature-image {
    width: 5vw;
    height: 5vw;
}

.acceptbox {
    color: #fff;
}

.item-inner {
    border-bottom: 0px !important;
}

.round-image {
    width: 160px;
    height: 160px;
    border-radius: 50%
}

.round-image-2 {
    width: 95px;
    height: 95px;
    border-radius: 50%
}

.font-color-default {
    color: #e6c12f;
}

.tab-button-custom {
    border:1px solid #e6c12f;
}

.button > span , .bar-button-menutoggle > span {
    color: #e6c12f; 
}

.select-text {
    color:#fff;
}

textarea {
    color: #fff;
}

.tabs-md .tab-button-icon {
    color:#fff;
}

.stroke-text { 
    text-shadow:
   -1px -1px 0 #e6c12f,  
    1px -1px 0 #e6c12f,
    -1px 1px 0 #e6c12f,
     1px 1px 0 #e6c12f;
}


.tabs-ios .tab-button {
    max-width: 100%;
}

input { 
    border-radius: 10px !important;
}

button {
    border-radius: 10px !important;
}

ion-item {
    border-radius: 10px !important;
}

.radius10 {
    border-radius: 10px !important;
}

.show-tabbar > .tab-button {
    border: 0;
    border-top:1px solid #e6c12f;
}

.alert-wrapper{
    background: #000!important;
    border:1px solid #e6c12f;
    color:#fff;
}

.alert-message {
    color:#fff !important;
}

.alert-wrapper .alert-radio-group,.alert-wrapper .alert-button-default{
    border-top:1px solid #e6c12f;
}

.alert-wrapper .alert-radio-label,.alert-wrapper .button-inner{
    color: #FFF;
}

.condition{
    overflow-y: scroll;
    height: 300px;
}

ion-title {
    text-align: center;
}

.toolbar-title-md {
    margin-right: 15%;
}


